@import url("Global.css");

#FirstProjectSection
{
    display: flex;
}

#LhsSection
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    width: 50vw;
}

#RhsSection
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    width: 50vw;
}

.ProjectDisplay
{
    max-width: 40vw;

    padding-bottom: 15px;
    padding-top: 15px;

    padding-right: 5vw;
    padding-left: 5vh;
}

.ProjectDisplayInner
{
    background-color: black;

    display: flex;
    align-items: center;

    border-radius: 5px;
    border-width: 5px;

    border-color: whitesmoke;
    border-style: solid;

    padding: 15px;
    gap: 15px;

    color: whitesmoke;
}
