@import url("Global.css");

/* Leave this undefined */
/* #FirstProjectSection */

#LhsSection
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    width: 100vw;
}

#RhsSection
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    width: 100vw;
}

.ProjectDisplay
{
    max-width: 90vw;

    padding-bottom: 15px;
    padding-top: 15px;

    padding-left: 5vw;
    padding-right: 5vh;
}

.ProjectDisplayInner
{
    background-color: black;

    border-radius: 5px;
    border-width: 5px;

    border-color: whitesmoke;
    border-style: solid;

    padding: 15px;
    gap: 15px;

    color: whitesmoke;
}
